<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pandas</title>
  </head>
  <body>
      <h1>I LOVE PANDAS</h1>
      <form action="/packers" method="POST">
          <input type="text" name="name">
          <input type="text" name="position">
          <input type="submit" value="AddPacker">
      </form>
  </body>
</html>
