<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Button Game</title>
  </head>
  <body>
      <button id="increase">Click Here</button>
      <h1 id="display"></h1>
      <button id="reset">Reset Count</button>
      <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type ="text/javascript">
       $(document). ready(function (){
          // this triggers the connection event in our server!
          var socket  = io. connect();
          // we'll write all the socket stuff after the above line!

          socket.on('welcome', (data) => {
              $('body').prepend("<h1>" + data.message + "<h1>");
          });

          socket.on('update_count', (data) => {
              $('#display').text(data.current);
          });

          $('#increase').click(() => socket.emit('button_clicked'));

          $('#reset').click(() => socket.emit('reset_count'));
      })
      </script>
  </body>
</html>
